
html {
    background: linear-gradient(to bottom, white, #aaa9a9);
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.logo.sin{
    
    width: 60px;
}

body{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, white, #aaa9a9);
    min-height: 100vh;
}

.hero{
    width: 85%;
    max-width: 1200px;
    height: 420px;
    margin: 40px auto;
    border-radius: 25px;
    overflow: hidden;

    background: url("imagenes/portada/hero-equipo.webp") center center / cover no-repeat;

    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    position: relative;
}

.hero-overlay{
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.45);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.hero-overlay h2{
    font-size: 42px;
    margin-bottom: 15px;
    font-weight: bold;
}

.hero-overlay p{
    font-size: 22px;
    margin-bottom: 25px;
}

.hero-overlay button{
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    background: #ff3232;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-overlay button:hover{
    transform: scale(1.05);
    background: #e62222;
}

h1{
    margin-top:40px;
    font-size: 40px;
}


.intro{
    margin-top: 10px;
    font-size: 18px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(6, 90px);
    gap: 40px;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
}

.card{
    grid-column: span 2;
}

.card{
    grid-column: span 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 190px;
    height: 220px;

    background: rgba(255,255,255,0.9);
    color: #1f1f1f;

    border-radius: 22px;
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
    text-align: center;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    transition: all 0.3s ease;

    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.4);
}

.card span{
    font-size: 40px;
    margin-bottom: 15px;
}

.card h3{
    margin: 0;
    font-size: 22px;
}

.card p{
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    color: black;
}

.card.rojo{
    background: linear-gradient(135deg, #ff3232, #c91818);
    color: white;
}


.card:hover{
    
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.ubicacion{
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    
    
}

.ubicacion p{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.equipos{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    color: black;
    text-align: left;    
    
}

.partidos{
    
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    color: black;
    text-align: center;
    
}

.partidos ul{
    list-style:circle;
    padding: 0;
    margin: 10px 0;
    text-align: left;
    
}

.partidos li{
    margin: 10px 0;
}
.contacto{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    color: black;
    text-align: center;
}

.contacto ul{
    list-style: circle;
    margin: 10px 0;
}

.contacto li {
    margin: 10px 0;
}

.contacto a {
    color: black;
    text-decoration: none;
    font-weight: bold;
   
    pointer-events: auto;
    cursor: pointer;
}


.contacto a:hover {
    text-decoration: underline;
}

.btn-email{
    display: inline-block;
    padding: 14px 25px;
    background: #ff3232;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-email:hover{
    transform: scale(1.05);
    background: #e62222;
}

.btn-instagram{
    display: inline-block;
    padding: 14px 25px;
    background: #ff3232;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-instagram:hover{
    transform: scale(1.05);
    background: #e62222;
}

#contenido{
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}
.seccion-box{
    background: rgba(255,255,255,0.95);
    border-radius: 25px;
    padding: 35px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    backdrop-filter: blur(10px);
    animation: aparecer 0.4s ease;
}
.seccion-titulo{
    font-size: 34px;
    margin-bottom: 25px;
    color: #1f1f1f;
    font-weight: bold;
    border-bottom: 3px solid #ff3232;
    padding-bottom: 10px;
}

.dia{
    background: linear-gradient(135deg, white, #f5f5f5);
    padding: 25px;
    border-radius: 18px;
    color: black;
    width: 100%;
    max-width: 650px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.dia:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.horario {
    text-align: center;
    margin-top: 20px;
}

.horario h3 {
    margin-top: 15px;
    color: #272626;
}

.horario p {
    margin: 5px 0;
}
.dias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.dia {
    background: white;
    padding: 30px;
    border-radius: 20px;
    color: black;
    width: 550px;
    text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
   
}

.galeria img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.galeria img:hover{
    transform: scale(1.1);
}

.calendario-header button{
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: #ff3232;
    color: white;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}

.calendario-header button:hover{
    transform: scale(1.08);
    background: #e62222;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.calendario-header button:active{
    transform: scale(0.95);
}

.calendario-header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendario-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.dia-calendario{
    background: white;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.dia-calendario:hover{
    transform: scale(1.05);
}

.nombre-dia{
    font-weight: bold;
    text-align: center;
    padding: 12px 0;
    background: #272626;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

.partido-dia{
    background: #ff3232;
    color: white;
    font-weight: bold;
}

.detalle-partido{
    margin-top: 25px;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 15px;
}

.partido-card{
    background: white;
    padding: 25px;
    border-radius: 18px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.partido-linea{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    font-size: 17px;
}

.partido-linea:last-child{
    border-bottom: none;
}



#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.8);

    display: none;
    justify-content: center;
    align-items: center;
    
    z-index: 9999;

}

#lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
}

.izquierda {
    left: 20px;
}

.derecha {
    right: 20px;
}

#contador {
    position: absolute;
    top: 20px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

#imagenGrande {
    transition: transform 0.3s ease, opacity 0.3s ease;
   
}

.miniaturas {
    
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
    width: 40px;
    height: 30px;
}

.miniaturas img {
    width: 60px;
    height: 40px;
    object-fit: cover;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.miniaturas img:hover {
    opacity: 0.8;
}

.miniaturas img.activa {
    box-shadow: 0 0 10px #ff2d2d;
}
.layout-principal{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 95%;
    margin: 40px auto;
}

.zona-central{
    flex: 1;
    max-width: 900px;
}

.sidebar{
    width: 120px;
    position: sticky;
    top: 120px;
}
.sidebar.izquierda{
    width: 150px;
    height: 700px;   /* altura visible del carrusel */
    overflow: hidden;
    position: sticky;
    top: 120px;
}


.izquierda{
    left: 100px;
}
.derecha{
    right: 100px;
}
.sponsor{
    background: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.sponsor img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;

}

.sponsor:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}



.sponsors-track {
    display: flex;
    flex-direction: column;
    gap: 15px;

    animation: subirSponsors 18s linear infinite;
}

@keyframes subirSponsors {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.sidebar.izquierda:hover .sponsors-track {
    animation-play-state: paused;
}

.redes{
    
    top: 180px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
}

.social-link{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    border-radius: 15px;
    padding: 10px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    backdrop-filter: blur(5px);
}

.social-link img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.social-link:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.menu-movil{
    display: none;
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background: #272626;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

footer{
     margin-top: 60px;
    padding: 30px;
    background: #1f1f1f;
    color: white;
}
@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .header{
        flex-direction: column;
        gap: 10px;
    }

    h1{
        font-size: 28px;
        margin-top: 10px;
        text-align: center;
    }

    .logo{
        width: 100px;
    }
}

@media (max-width: 768px){
    .hero{
        width: 95%;
        height: 250px;
        margin: 20px auto;
    }

    .hero-overlay h2{
        font-size: 26px;
    }

    .hero-overlay p{
        font-size: 16px;
    }

    .hero-overlay button{
        font-size: 15px;
        padding: 12px 20px;
    }
}

@media (max-width: 768px) { /* En móvil se ponen abajo en horizontal */
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 90%;
        margin: 30px auto;
    }

    .card{
        width: 100%;
        height: 140px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    #contenido{
        width: 95%;
        font-size: 16px;
    }

    .dia,
    .equipos,
    .partidos,
    .contacto,
    .ubicacion{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .galeria img{
        width: 45%;
        height: auto;
    }
}

@media (max-width: 768px) {
    #imagenGrande{
        max-width: 95%;
        max-height: 60%;
    }

    .miniaturas{
        bottom: 10px;
        gap: 5px;
    }

    .miniaturas img{
        width: 45px;
        height: 35px;
    }
}


@media (max-width: 768px){
    .ubicacion iframe{
        width: 100%;
        height: 400px;
        border: 0;
        border-radius: 15px;
        display: block;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .calendario-header {
        flex-direction: row;
        gap: 10px;
        padding: 10px;
    }

    .calendario-header h3 {
        font-size: 18px;
        margin: 0;
    }

    .calendario-header button {
        padding: 8px 12px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
    }

    .calendario-grid {
        grid-template-columns: repeat(7, 1fr);
        gap: 6px;
    }

    .dia-calendario {
        padding: 12px 0;
        font-size: 14px;
        border-radius: 10px;
        min-height: 45px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detalle-partido {
        margin-top: 20px;
        padding: 15px;
    }

    .partido-card {
        padding: 15px;
        border-radius: 14px;
    }

    .partido-linea {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .calendario-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px){

    .calendario-header{
        gap: 12px;
        margin-bottom: 18px;
    }

    .calendario-header h3{
        font-size: 18px;
        margin: 0;
        flex: 1;
        text-align: center;
    }

    .calendario-grid{
        gap: 6px;
    }

    .dia-calendario,
    .nombre-dia,
    .dia-vacio{
        min-height: 48px;
        padding: 10px 0;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detalle-partido{
        padding: 15px;
    }

    .partido-card{
        padding: 18px;
    }

    .partido-linea{
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        font-size: 14px;
    }
}

@media (max-width: 768px) { /* esto sirve para esconder las barras laterales en pantallas pequeñas */
    .sidebar, .redes {
        display: none;
    }
}

@media (max-width: 768px){
    .nombre-dia{
        font-size: 10px;
        padding: 6px 0;
    }
}

@media (max-width: 768px) { /* En móvil se ponen abajo en horizontal */
    .redes {
        right: 10px;
        top: auto;
        bottom: 20px;
        flex-direction: row;
    }

    .social-link {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1400px) {
    .sidebar {
        width: 90px;
    }

    .social-link {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 1100px) {
    .sidebar.izquierda {
        display: none;
    }

    .redes {
        position: fixed;
        bottom: 20px;
        right: 20px;
        top: auto;
        flex-direction: row;
        gap: 15px;
    }

    .social-link {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        padding: 8px;
    }

    .social-link img {
        width: 100%;
        height: 100%;
    }
}